#parse("header.html")
<link rel="stylesheet" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                #foreach ($conversation in $conversations)
                <li id="conversation-item-10001_622873">
                <a class="letter-link" href="/msg/detail?conversationId=$conversation.conversation.conversationId">
                </a>
                <div class="letter-info">
                <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', $conversation.conversation.createdDate)</span>
                <div class="l-operate-bar">
                    <!--
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                -->
                <a href="/msg/detail?conversationId=$conversation.conversation.conversationId">
                    $conversation.conversation.cnt 条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                    #if($conversation.unread > 0)
                    <span class="msg-num">
                        $conversation.unread
                    </span>
                    #end

                <a class="list-head">
                    #if(!$conversation.user)
                    <img alt="头像" src="../images/img/system.png">
                    #else
                    <img alt="头像" src="$conversation.user.headUrl">
                    #end
                </a>

                </div>
                <div class="letter-detail">
                    #if(!$conversation.user)
                    <a title="系统通知" class="letter-name level-color-1">
                        系统通知
                    </a>
                    #else
                    <a title="$conversation.user.name" class="letter-name level-color-1">
                        $conversation.user.name
                    </a>
                    #end
                <p class="letter-brief">
                <a href="/msg/detail?conversationId=$conversation.conversation.conversationId">
                $conversation.conversation.content
                </a>
                </p>
                </div>
                </li>
                #end
            </ul>

        </div>
    </div>
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
#parse("footer.html")